.main-container {
  flex: 1;
  margin-top: 119px;
  margin-bottom: 147px;
  margin-right: 259px;
  margin-left: 180px;
  display: flex;
  justify-content: space-between;
}

.leftContent {
  margin-top: 1px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.leftContent img {
  margin-bottom: 126px;
}

@media all and (max-width: 700px) {
  .main-container {
    flex: none;
    margin-top: 41px;
    margin-bottom: 61px;
    margin-right: 25px;
    margin-left: 25px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
  }

  .leftContent {
    margin-top: 0px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }

  .leftContent img {
    margin-top: 31px;
    margin-bottom: 58px;
    width: 351px;
    height: 360px;
  }
}
