.title {
  font-family: lato-bold;
  font-size: 25px;
  margin-bottom: 15px;
}

.date {
  font-family: lato-bold;
  font-size: 20px;
  color: var(--grey-text-color);
}

@media all and (max-width: 700px) {
  .horizontalDivider {
    border: 0;
    border-bottom: 1px solid var(--divider-color);
    margin-top: 20px;
    margin-bottom: 12px;
  }

  .title {
    font-size: 18px;
    margin-bottom: 15px;
  }

  .date {
    font-size: 15px;
  }

  .episode {
    font-size: 18px;
    font-family: lato-bold;
    color: #000000;
    margin-bottom: 13px;
  }
}
