:root {
  --aquamarine-color: #daed49;
  --aquamarine-text-color: #BDD800;
  --cyan-color: #00bdd4;
  --dark-footer-color: #464646;
  --grey-text-color: #959595;
  --footer-text-color: #cccccc;
  --divider-color: #d1d1d1;
}
