@font-face {
  font-family: lato-bold;
  src: url("./fonts/Lato-Bold.ttf");
}

@font-face {
  font-family: lato-regular;
  src: url("./fonts/Lato-Regular.ttf");
}

@font-face {
  font-family: lato-italic;
  src: url("./fonts/Lato-Italic.ttf");
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  background: #ffff;
  min-width: 1710px;
}

#root {
  display: flex;
  flex-direction: column;
  height: 100vh;
}

main {
  flex: 1;
  display: flex;
}

@media all and (max-width: 700px) {
  html {
    background: white;
    min-width: 400px;
  }
  .root {
  }

  main {
    flex: 1;
    display: flex;
  }
}
